imports:
  - { resource: vendor/drupol/php-conventions/config/php56/grumphp.yml }

parameters:
    tasks.phpstan.autoload_file: spec/drupol/drupal7_psr3_watchdog/tests/stubs/drupal7bootstrap.inc
    extra_tasks:
        phpspec: ~
